# pixi environments
.pixi/*
!.pixi/config.toml

# Quarto render output
*_files/*
/*.html

presentation_files/
*.quarto_ipynb
_freeze/
_site/
site_libs/

# Example data
data/*

.DS_Store

/.quarto/
**/*.quarto_ipynb
